<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.the.joeun.mapper.UserMapper">

    <resultMap id="userMap" type="edu.the.joeun.model.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="creat_at" column="creat_at"/>
        <result property="update_at" column="update_at"/>
    </resultMap>

    <select id="getAll" resultMap="userMap">
        SELECT *
        FROM user
        ORDER BY id DESC
    </select>

    <select id="getUserById" parameterType="int" resultMap="userMap">
        SELECT *
        FROM user
        WHERE = #{id}
    </select>

    <insert id="insetIser" parameterType="edu.the.joeun.model.User">
        INSERT INTO user(name, email, role)
                VALUES (#{name}, #{email}, #{role})
        <!-- id, creat_at, update_at은 sql 자체에서 데이터 알아서 삽입하므로 사용자가 작성한 데이터를 기입하지 않는다 -->
    </insert>

</mapper>
