<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>커뮤니티 - 메인페이지</title>

</head>
<body>
    <div th:replace="~{header :: header}"></div>
    <div class="popular-board-container">
        <h2>인기 게시글</h2>
        <div class="popular-board-update-time">업데이트시간</div>
        <div class="popular-board-list" id="popularBoardList"></div>
    </div>

</body>
</html>
