<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.thejoeun.board.model.mapper.BoardMapper">
    <!--
    ORACLE 에서는 NULLS LAST 를 이용하여 NULL 값 처리
    -->
    <select id="getAllBoard"  resultType="Board">
        SELECT *
        FROM board
        ORDER BY created_at DESC NULLS LAST , id DESC
    </select>
    <select id="getBoardById" resultType="board">
        SELECT *
        FROM board
        WHERE id = #{id}
    </select>
    <!--
    keyColumn = "id"

    Oracle 에서 AUTO_INCREAMENT 처리 방법
    1. SEQUENCE 전통적인 방법으로 자동 번호 생성 로직 작성
    2. IDENTITY 컬럼 사용(12c 이상 )   AUTO_INCREAMENT 처럼 번호가 자동으로 생성되어 추가

    IDENTITY 형식을 사용해서 insert 많이 함
    useGeneratedKeys : 데이터베이스에서 자동으로 생성된 키를 가져올지 여부 기본값 : false
    keyProperty      : 자동으로 생성된 키 값을 어떤 자바 객체의 필드에 담을지 지정하는 속성
    keyColumn        : 자동 생성되는 키의 컬럼명 지정(Oracle 에서 명시적으로 지정 권장)
    -->
    <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO board(title, content, writer, board_main_image, board_detail_image)
        VALUES (#{title}, #{content}, #{writer}, #{boardMainImage} , #{boardDetailImage} )
    </insert>
    <update id="updateViewCount" parameterType="int">
        UPDATE  board
        SET view_count = view_count + 1
        WHERE id = #{id}
    </update>
    <update id="updateBoardImages" parameterType="Board">
        UPDATE board
        SET board_main_image = #{boardMainImage},
            board_detail_image = #{boardDetailImage}
        WHERE id = #{id}
    </update>
</mapper>