<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.thejoeun.member.model.mapper.MemberMapper">
    <!--
    resultMap  : 수동으로 변수명칭 매칭 세팅
    resultType : 자동 매칭 세팅
    -->

    <select id="getMemberByEmail" resultType="Member">
        SELECT *
        FROM member
        WHERE member_email = #{memberEmail}
    </select>
    <!--
    dto 키속성 명칭
    keyProperty="memberId"
   sql 키속성 명칭
    keyColumn="member_id"
    -->
    <insert id="saveMember" parameterType="Member"  useGeneratedKeys="true" keyProperty="memberId" keyColumn="member_id">
        INSERT INTO  member(member_name,member_email,member_password,member_address,member_phone)
        VALUES (#{memberName},#{memberEmail},#{memberPassword}, #{memberAddress}, #{memberPhone})
    </insert>
    <!-- 회원정보 수정 -->
    <update id="updateMember" parameterType="Member">
        UPDATE member
        SET
            member_password = #{memberPassword},
            member_profile_image = #{memberProfileImage},
            member_address = #{memberAddress},
            member_phone = #{memberPhone}
        WHERE member_id = #{memberId}
    </update>

    <!-- 프로필 이미지만 업데이트 -->
    <update id="updateProfileImage">
        UPDATE member
        SET
            member_profile_image = #{memberProfileImage}
        WHERE member_email = #{memberEmail}
    </update>
</mapper>