<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.thejoeun.member.model.mapper.MemberMapper">
    <!--
    resultMap  : 수동으로 변수명칭 매칭 세팅
    resultType : 자동 매칭 세팅
    -->

    <select id="getMemberByEmail" resultType="Member">
        SELECT *
        FROM member
        WHERE member_email = #{memberEmail}
    </select>

<!--
 dto 키속성 명칭
 keyProperty = "memberId"
 sql 키 속성 명칭
 keyColumn="member_id"-->
<!-- savaMember -->
    <insert id="saveMember" parameterType="Member" useGeneratedKeys="true" keyProperty="memberId" keyColumn="member_id">
        INSERT INTO Member(member_name, member_email, member_password, member_address, member_phone)
        VALUES (#{memberName}, #{memberEmail}, #{memberPassword}, #{memberAddress}, #{memberPhone})
    </insert>

    <!-- 회원정보 수정되지 않는다. -->
    <update id="editMember" parameterType="Member">
        UPDATE Member
        SET member_password = #{memberPassword},
            member_address = #{memberAddress},
            member_phone = #{memberPhone}
        WHERE member_id = #{memberId}
    </update>
</mapper>
