<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>The Mall - 홈</title>
    <!--
     프로그램 상 static과 templates의 구분을 따로 하지 않기 때문에
     .html 파일과 api 주소를 제외하고는 css나 js 이미지, 파일 경로를
     static 중점으로 가져옴
     -->
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <div>
        <a href="/goodsList">상품목록</a>
        <a href="/goodsAdd">상품등록</a>
        <a href="/user/list">사용자목록</a>
        <a href="/user/add">사용자등록</a>
    </div>

</body>
</html>
