<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis 환경설정 관련 로직 코딩 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- Java -> DB 로 Insert, Update 시 Java의 Null 값을  DB 의 NULL로 인식하도록 설정 -->
            <setting name="jdbcTypeForNull" value="NULL"/>
        <!--
        DB의 underScore(_) 표기법 <-> JAVA의 Camel 표기법 두 표기법이 서로 변환 될 수 있도록 매핑하여
        Java 필드명(memberID) 과 DB 컬럼명(MEMBER_ID)가 서로 연결되게 설정
         -->
            <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>