<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thejoeun.TheMall.mapper.GoodsMapper">


    <resultMap id="goodsResultMap" type="com.thejoeun.TheMall.model.Goods">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>

    </resultMap>


    <select id="getAllGoods" resultMap="goodsResultMap">
        SELECT id, name, price, stock
        FROM goods
        ORDER BY id DESC
    </select>

    <select id="getGoodsById" parameterType="int" resultMap="goodsResultMap">
        SELECT id, name, price, stock
        FROM goods
        WHERE id = #{id}
    </select>

    <insert id="insertGoods" parameterType="com.thejoeun.TheMall.model.Goods">
        INSERT INTO goods (name, price, stock)
        values (#{name}, #{price}, #{stock})
    </insert>

    <select id="selectGoods" parameterType="com.thejoeun.TheMall.model.Goods">
        INSERT INTO goods (name, price, stock)
        values (#{name}, #{price}, #{stock})
    </select>

</mapper>