<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thejoeun.TheMall.mapper.UsersMapper">

    <resultMap id="usersResultMap" type="com.thejoeun.TheMall.model.Users">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>

    </resultMap>


    <select id="getAllUsers" resultMap="usersResultMap">
        SELECT id, name, email, role
        FROM user
        ORDER BY id DESC
    </select>

</mapper>
